{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
                <section id="banner" class="style2">
                    <div class="inner">
                        <span class="image">
                            <img src="{% static 'core/images/pic07.jpg' %}" alt="" />
                        </span>
                        <header class="major">
                            <h1>Currículum</h1>
                        </header>
                        <div class="content">
                            <p>Aquí están los cursos que he realizado...<br />
                            ...y también podrás ver mis áreas de conocimiento.</p>
                        </div>
                    </div>
                </section>
            <!-- Main -->
                <div id="main">
                        <section id="two" class="spotlights">
                            {% for entrada in entradas %}
                            <section>
                                <a href="{% url 'blog:post_list' %}" class="image">
                                    <img src="{{entrada.image.url}}" alt="" data-position="{{entrada.image_position}}" />
                                </a>
                                <div class="content">
                                    <div class="inner">
                                        <header class="major">
                                            <h3>{{entrada.title}}</h3>
                                        </header>
                                                {{entrada.content|safe}}
                                                <ul class="actions">
                                                    <li><a href="{{entrada.link}}" class="button">{{entrada.texto_boton}}</a></li>
                                                </ul>
                                    </div>
                                </div>	
                            </section>                
                            {% endfor %}
                        </section>

                    <!-- Three -->
                        <section id="three">
                            <div class="inner">
                                <header class="major">
                                    <h2>Sobre Mí</h2>
                                </header>
                                <p>Soy una apasionada de la tecnología con una sólida base en programación, análisis de datos y desarrollo web....</p>
                                <ul class="actions">
                                    <li><a href="{% url 'blog:post_list' %}" class="button next">Seguir leyendo</a></li>
                                </ul>
                            </div>
                        </section>

                </div>
{% endblock %}