<!DOCTYPE HTML>
<html lang="es">
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static 'core/assets/css/noscript.css' %}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>Portfolio</strong> <span>Mai</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'landing' %}">Currículum</a></li>
							<li><a href="{% url 'generic' %}">Blog</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'contact' %}" class="button primary fit">Contacto</a></li>
							<li><a href="{% url 'index' %}#one" class="button fit">Proyectos</a></li>
						</ul>
					</nav>
			
				<!-- Main -->
            	{% block content %}{% endblock %}
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							{{test}}
							<ul class="icons">
								<li>{% if LINK_TWITTER %}<a href="{{LINK_TWITTER}}" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a>{% endif %}</li>
								<li>{% if LINK_FACEBOOK %}<a href="{{LINK_FACEBOOK}}" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>{% endif %}</li>
								<li>{% if LINK_INSTAGRAM %}<a href="{{LINK_INSTAGRAM}}" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>{% endif %}</li>
								<li>{% if LINK_GITHUB %}<a href="{{LINK_GITHUB}}" class="icon brands alt fa-github"><span class="label">GitHub</span></a>{% endif %}</li>
								<li>{% if LINK_LINKEDIN %}<a href="{{LINK_LINKEDIN}}" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>{% endif %}</li>
							</ul>
							<ul class="copyright">
								<li>&copy; 2025</li>
								<li>María del Carmen Martín Rodríguez. Todos los derechos reservados.</li>
								{% load pages_extras %}
								{% get_page_list as page_list %}
								{% for page in page_list %}
									<li><a href="{% url 'page' page.id %}">{{page.title}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{% static 'core/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'core/assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'core/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'core/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'core/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'core/assets/js/util.js' %}"></script>
        <script src="{% static 'core/assets/js/main.js' %}"></script>

	</body>
</html>






























